<div id="<%= dom_id acteur %>">
  <p>
    <strong>Nom:</strong>
    <%= acteur.Nom %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= acteur.Photo %>
  </p>

  <p>
    <strong>Anniversaire:</strong>
    <%= acteur.Anniversaire %>
  </p>

  <p>
    <strong>Biographie:</strong>
    <%= acteur.Biographie %>
  </p>

  <p>
    <strong>Filmographie:</strong>
    <%= acteur.Filmographie %>
  </p>

</div>
