<div id="<%= dom_id acteur %>">
<p>
    <img src="<%= acteur.Photo %>" class="img-fluid" alt="photo <%= acteur.Nom %>">
  </p>

  <p>
    <strong>Nom:</strong>
    <%= acteur.Nom %>
  </p>

  <p>
    <strong>Anniversaire:</strong>
    <%= acteur.Anniversaire %>
  </p>

  <p>
    <strong>Biographie:</strong>
    <%= acteur.Biographie %>
  </p>

  <p>
    <strong>Filmographie:</strong>
    <%= acteur.Filmographie %>
  </p>

</div>
