
<div class="row my-5">
<div class="col-lg-6">
<img src="<%= @acteur.Photo %>" class="img-fluid" alt="photo <%= @acteur.Nom %>">
</div>
<div class="col-lg-6 mt-5">
  <h1><%= @acteur.Nom %></h1>
    <p class="mt-4">
    <strong>Date de naissance:</strong>
    <p>
      <%= @acteur.Anniversaire %>
    </p>
    <p class="mt-5">
      <strong>Biographie:</strong>
      <%= @acteur.Biographie %>
    </p>
    <p class="my-5">
      <strong>Filmographie:</strong>
      <%= @acteur.Filmographie %>
    </p>
    <%= link_to "Modifier cet acteur", edit_acteur_path(@acteur), class:"mb-3 btn btn-outline-success mx-1" %>
    <%= button_to "Supprimer cet acteur", @acteur, method: :delete, class:"mb-3 btn btn-outline-danger mx-1" %>
    <%= link_to "Retour à la page d'accueil", acteurs_path%>
  </div>
</div>
