<!DOCTYPE html>
<html>
  <head>
    <title>ActFilm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" type="image/png" href="<%= asset_path('ACTFILM.png') %>">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar bg-black navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <%= image_tag 'ACTFILM.png', width: 100 %>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="#">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Créer un acteur</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">A propos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
