<!DOCTYPE html>
<html>
  <head>
    <title>ActFilm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" type="image/png" href="<%= asset_path('ACTFILM.png') %>">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar bg-black navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <%= image_tag 'ACTFILM.png', width: 100 %>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="#">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Créer un acteur</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">A propos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
        <h5 class="text-uppercase">À propos de nous</h5>
        <p>
        Pourquoi ActFilm ? Nous sommes deux passionnés par le monde du cinéma et lancer notre propre application nous semblait impossible. Nous avons travaillé pendant plusieurs semaines pour vous proposer un concept simple : Représenter les acteurs les plus célèbres dans les activités de la vie quotidienne (d’où le nom ActFilm). 
        Cela vous permettra d’enrichir votre culture cinématographique tout en rigolant devant Jean Reno, en plein footing, poursuivi par une armée de papillons. En espérant que cette expérience vous plaise, n’hésitez pas à nous faire des retours !  
        </p>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    &copy; 2023 ActFilm
  </div>
</footer>
  </body>
</html>
